#### Наполним нашу базу данных

In [213]:
from neo4j import GraphDatabase, basic_auth

driver = GraphDatabase.driver("bolt://174.129.45.71:7687", auth=basic_auth("neo4j", "pencils-ringing-screw"))
session = driver.session()

In [215]:
"""cypher_query = '''
MATCH (n)
DETACH DELETE n
'''
results = session.run(cypher_query,
  parameters={})"""

"cypher_query = '''\nMATCH (n)\nDETACH DELETE n\n'''\nresults = session.run(cypher_query,\n  parameters={})"

In [216]:
cypher_query = '''
MATCH (a)
RETURN a
'''

results = session.run(cypher_query,
  parameters={})

In [217]:
for record in results:
    print(record)

In [218]:
with open('data.json', 'r', encoding='utf-8') as f:
    data = f.read()

In [219]:
data = data.replace('"','')

In [220]:
data = data.split('\\n')

In [221]:
data = data[:-1]

In [222]:
data_clean = []
for el in data:
    el = el.replace('[','').replace(']','')
    el = el.split('\\t')
    clean_el = []
    for k in el:
        clean_el.append(k.strip())
        data_clean.append(clean_el)

In [223]:
x = []
for k in data_clean:
    if k not in x:
        x.append(k)

In [224]:
names = []
for el in x:
    names.append(el[0])
    
names = list(set(names))

In [225]:
artists = {}
for el in x:
    artists[el[0]] = [el[2],el[3]]

In [226]:
artists

{'Damon Albarn': ['England', '54'],
 'Jamie Hewlett': ['England', '54'],
 'Remi Kabaka Jr.': ['None', '52'],
 'Graham Coxon': ['West Germany (now Germany)', '53'],
 'Alex James (musician)': ['England', '53'],
 'Dave Rowntree': ['England', '58'],
 'Paul Simonon': ['England', '66'],
 'Simon Tong': ['England', '50'],
 'Tony Allen (musician)': ['Colonial Nigeria|British Nigeria', '82'],
 'Dan the Automator': ['U.S.', '56'],
 'Richard Russell (XL Recordings)': ['England', '51'],
 'Rodaidh McDonald': ['Scotland', 'None'],
 'Jneiro Jarel': ['None', 'None'],
 'Actress (musician)': ['England', '43'],
 'Marc Antoine (musician)': ['France', '59'],
 'Remi Kabaka': ['Nigeria', '77'],
 'Totally Enormous Extinct Dinosaurs': ['England', '36'],
 'Kwes.': ['None', 'None'],
 'Robert Del Naja': ['None', '57'],
 'Tricky (musician)': ['England', '54'],
 'Daddy G': ['None', '62'],
 'Theo Keating': ['None', 'None'],
 'Simon William Lord': ['England', 'None']}

In [227]:
for el in names:
    create_man = """CREATE (p:Person {name:'%s', age:'%s'})""" % (el,artists[el][1])
    _ = session.run(create_man)

In [228]:
bands = []
for el in x:
    bands.append(el[1])
    
bands = list(set(bands))

In [229]:
countries = []
for el in list(artists.values()):
    countries.append(el[0])

countries = list(set(countries))

In [230]:
for el in countries:
    create_country = """CREATE (c:Country {name:'%s'})""" % (el)
    _ = session.run(create_country)

In [231]:
for el in bands:
    create_band = 'CREATE (g:Group {name: "'+el+'"}) '
    _ = session.run(create_band)

In [232]:
x

[['Damon Albarn', 'Gorillaz', 'England', '54'],
 ['Jamie Hewlett', 'Gorillaz', 'England', '54'],
 ['Remi Kabaka Jr.', 'Gorillaz', 'None', '52'],
 ['Damon Albarn', 'Blur (band)', 'England', '54'],
 ['Damon Albarn', 'Monkey Journey to the West', 'England', '54'],
 ['Damon Albarn', 'The Good, the Bad & the Queen', 'England', '54'],
 ['Damon Albarn', 'Mali Music', 'England', '54'],
 ['Damon Albarn', 'Rocket Juice & the Moon', 'England', '54'],
 ['Damon Albarn', 'DRC Music', 'England', '54'],
 ['Damon Albarn', 'Massive Attack', 'England', '54'],
 ['Damon Albarn', 'The Black Ghosts', 'England', '54'],
 ['Damon Albarn', 'Africa Express (organization)', 'England', '54'],
 ['Graham Coxon', 'Blur (band)', 'West Germany (now Germany)', '53'],
 ['Alex James (musician)', 'Blur (band)', 'England', '53'],
 ['Dave Rowntree', 'Blur (band)', 'England', '58'],
 ['Paul Simonon', 'The Good, the Bad & the Queen', 'England', '66'],
 ['Simon Tong', 'The Good, the Bad & the Queen', 'England', '50'],
 ['Tony Allen (musician)',
  'The Good, the Bad & the Queen',
  'Colonial Nigeria|British Nigeria',
  '82'],
 ['Dan the Automator', 'DRC Music', 'U.S.', '56'],
 ['Richard Russell (XL Recordings)', 'DRC Music', 'England', '51'],
 ['Rodaidh McDonald', 'DRC Music', 'Scotland', 'None'],
 ['Jneiro Jarel', 'DRC Music', 'None', 'None'],
 ['Actress (musician)', 'DRC Music', 'England', '43'],
 ['Marc Antoine (musician)', 'DRC Music', 'France', '59'],
 ['Remi Kabaka', 'DRC Music', 'Nigeria', '77'],
 ['Totally Enormous Extinct Dinosaurs', 'DRC Music', 'England', '36'],
 ['Kwes.', 'DRC Music', 'None', 'None'],
 ['Robert Del Naja', 'Massive Attack', 'None', '57'],
 ['Tricky (musician)', 'Massive Attack', 'England', '54'],
 ['Daddy G', 'Massive Attack', 'None', '62'],
 ['Theo Keating', 'The Black Ghosts', 'None', 'None'],
 ['Simon William Lord', 'The Black Ghosts', 'England', 'None']]

In [233]:
for k in x:
    create_match = 'MATCH (p:Person {name: "'+k[0]+'"}), (g:Group {name: "'+k[1]+'"}) MERGE (p)-[r:ASSOCIATED_WITH]->(g) RETURN r'
    _ = session.run(create_match)

In [234]:
for k in x:
    create_match = 'MATCH (p:Person {name: "'+k[0]+'"}), (c:Country {name: "'+k[2]+'"}) MERGE (p)-[r:WHERE_FROM]->(c) RETURN r'
    _ = session.run(create_match)